<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="sqliteCon" connectionString="Data Source=center.db;version=3 ;" />
    <add name="sqliteCon_dynamic" connectionString="Data Source=dynamic_center.db;version=3 ;" />
  </connectionStrings>
  
</configuration>